---
Checks: >-
  boost-*,
  bugprone-*,
  cert-*,
  clang-analyzer-*,
  cppcoreguidelines-*,
  google-*,
  hicpp-*,
  llvm-*,
  misc-*,
  modernize-*,
  performance-*,
  portability-*,
  readability-*,
  -google-readability-todo,
  -readability-avoid-const-params-in-decls,
  -readability-identifier-length,
  -bugprone-easily-swappable-parameters,
  -llvm-header-guard,
  -cert-dcl03-c,
  -boost-use-ranges,
  -hicpp-static-assert,
  -misc-static-assert,
  -*-macro-to-enum,
  -*-macro-usage,
  -*-enum-size,
  -*-use-using,
  -*-casting-through-void,
  -misc-include-cleaner,
  -cppcoreguidelines-avoid-do-while,
  -*-magic-numbers,
  -*-use-enum-class,
  -*-use-trailing-return-type,
  -*-deprecated-headers,
  -*-avoid-c-arrays,
CheckOptions:
  - key:   readability-function-cognitive-complexity.Threshold
    value: '99'
WarningsAsErrors: '*'
HeaderFilterRegex: '.*'
FormatStyle: file
...
