[submodule "drivers/avr/avr-can-lib"]
	path = drivers/avr/avr-can-lib
	url = https://github.com/rennerm/avr-can-lib
[submodule "dsdl_compiler/pyuavcan"]
	path = dsdl_compiler/pyuavcan
	url = https://github.com/UAVCAN/pyuavcan
