sudo: required
dist: trusty
language: cpp
compiler:
    - clang
    - gcc

addons:
  apt:
    packages:
    - libgtest-dev
    - libc6-dev-i386
    - g++-multilib
    - gcc-multilib
    - libstdc++6-4.6-dev:i386

env:
    - CFLAGS="-Werror" CXXFLAGS="-Werror"

before_install:
    - mkdir gtest-build
    - mkdir build/
    - pushd gtest-build
    - cmake /usr/src/gtest
    - make
    - popd

before_script:
    - cd build/
    - CMAKE_LIBRARY_PATH=../gtest-build/ cmake ../tests

script:
    - make
    - ./run_tests
